# some directories
dotfiles/
wekafiles/
node_modules/
chafa-1.12.5/
vcpkg/
package-lock.json
scikit_learn_data/
R/
nltk_data/
snap/
cudnn-linux-x86_64-8.7.0.84_cuda11-archive/


# Package Files
.cargo/
.cache/
.codeium/
.conan2/
.conda/
.cupy/
.dotnet/
.ekphrasis/
.ipython/
.jukit/
.jupyter/
.keras/
.kaggle/
.lesshst
.local/
.m2/
.mozilla/
.node_repl_history
.npm/
.nv/
.nvm/
.oh-my-zsh/
.p10k.zsh
.pdbhistory
.python_history
.radian_history
.rustup/
.ssh/
.tmux/
.vcpkg/
.vscode/
.vscode-R/

# ide server
.vscode-server/
.cursor-server/

# Somefiles
.bash_history
.bash_logout
.histfile
.profile
.sudo_as_admin_successful
.viminfo
.wget-hsts
.Xauthority
.zcompdump*
.zsh_history
.zshrc.pre-oh-my-zsh

# Files under .config
.config/configstore/
.config/goa-1.0/
.config/lazygit/
.config/TabNine/
.config/github-copilot/
.config/htop/
.config/matplotlib/
.config/pulse/
